$bg_base: #252525;
$font_base: Arial, san-serif;
$color_base: #ffffff;
$yellow: #E3B873;
$dark: #131313;

@mixin text-yellow {
  font-family: FuturaDemiC;
  font-size: 0.875rem;
  line-height: 1rem;
  text-transform: uppercase;
  text-align: center;

  color: $yellow;  
}

html {
  background-color: $bg_base;
  font-family: $font_base;
  color: $color_base;
}

/* Container */

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

/* Header */
.header {
  width: 100%;

  background-color: $dark;
}

.header__inner {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  margin: 2.25rem 5.125rem;
  &-title {
    
    @include text-yellow;
  }
}

.header__nav {
  margin-top: 0.31rem;
  &-items {
    list-style: none; 
    
    padding-left: 0;
    // display: flex;
    // justify-content: space-between; 
  }
  &-link {
    
    font-family: FuturaBookC;
    font-size: 0.875rem;
    line-height: 1rem;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;

    &.active {
      color: $yellow;
    }
    &:hover {
      color: $yellow;
    }
  }
  &-item {
    padding: 1.3rem;
    display: inline-block;
  } 
}

.header__request {
  margin-top: 2.25rem;
}

.phone {
  margin-right: 2.81rem;
  width: 126px;
  height: 16px;

  font-family: FuturaDemiC;
  font-size: 0.875rem;
  line-height: 1rem;
  text-align: right;
  text-transform: uppercase;
  text-decoration-line: underline;
  background-color: $dark;
  color: #E3B873;
  outline: none;
  border: none;
}

.btn {
  margin-right: 6.25rem;
  width: 161px;
  height: 37px;

  background: $yellow;
  border-radius: 2px;
  border: none;
  font-family: FuturaDemiC;
  font-size: 0.81rem;
  line-height: 0.94rem;
  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
  cursor: pointer;
}

/* Intro */
.intro {
  width: 100%;
  
  background: $dark;
  
  &__inner {
    position: relative;
  }
  &__aside {
    transform: rotate(90deg);
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 1;

    &-link {
      @include text-yellow;
      text-decoration: none;
    }

    &::after {
      content: "";
      display: block;
      height: 2px;
      width: 3.3rem;
      
      background-color: $yellow;
      
      position: absolute;
      top: 50%;
      left: 120%;
      z-index: 1;      
    }
  }

  &__wrapper {
    margin-left: 5.125rem;

    background: url("../images/order.png") no-repeat;
    
    position: relative;
  }

  &-title {
    margin: 0;
    margin-left: 3.75rem;
    padding-top: 12.125rem;

    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 3.31rem;
    text-transform: uppercase;

    color: #FFFFFF;
  }

  &-title span {
    color: $yellow;
  }

  &-text {
    margin-left: 3.75rem;

    font-family: FuturaBookC;
    font-size: 1.375rem;
    line-height: 1.875rem;

    color: #FFFFFF;
  }

  &-btn {
    width: 12.94rem;
    height: 3.19rem;
    // margin-left: 3.75rem;
    margin:2.56rem 0 13rem 3.75rem;

    background: $yellow;
    border-radius: 2px;
    border: none;
    font-family: FuturaDemiC;
    font-size: 0.81rem;
    line-height: 0.94rem;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
    cursor: pointer;

    &.submit {
      margin-left: 1.25rem;

      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      background: rgba(255, 255, 255, 0);
      
    }
  }
}

/* Scroll */
.scroll {
  background-color: $dark;
  position: absolute;
  top: 87%;
  left: -7%;
  z-index: 2;
  &-link {
    display: block;
    padding: 2.5rem 5.625rem 2.5rem 3rem;
    
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    text-decoration: none;

    color: #FFFFFF;
    background-color: $dark;
    background-image: url("../images/scroll.svg");
    background-repeat: no-repeat;
    background-position: 80% 47%;

  }
}

/* Projects */
.projects {
  width: 100%;

  background: $dark;
  &__inner {
    display: flex;
    justify-content: space-between;
    // align-items: center;
  }

  &__description {
    width: 30%;
    margin-top: 11rem;
    margin-left: 6.3rem;
    
    &-title {
      font-family: Yeseva One;
      font-style: normal;
      font-weight: normal;
      font-size: 1.69rem;
      line-height: 2.31rem;
      letter-spacing: -0.07em;
      text-transform: uppercase;

      color: $yellow;

      &::after {
        content: "";
        display: block;
        height: 2px;
        width: 5.75rem;

        background-color: $yellow;

        transform: translate(160px, -20px); 
      }
    }

    &-text {
      margin-top: 2.125rem;
      margin-bottom: 2.625rem;



      font-family: FuturaBookC;
      font-size: 18px;
      line-height: 29px;

      color: #FFFFFF;
    }

    &-items {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }

    &-item {
      
      
      &:nth-child(1) {
        margin-bottom: 2rem;
        margin-right: 6.3rem;
      }

      &:nth-child(3) {
        margin-right: 3.7rem;
      }

      &--title {
        margin: 0;
        margin-bottom: 0.5rem;

        font-family: Yeseva One;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;

        color: $yellow;
      }

      &--text {
        font-family: FuturaBookC;
        font-size: 15px;
        line-height: 20px;

        color: #FFFFFF;
      }
    }
  }

  &__slider {
    margin-top: 6.69rem;
    margin-bottom: 5.75rem;


    &-items {
      margin-bottom: 3.25rem;
      // margin-left: 2rem;
      display: flex;
      justify-content: flex-start;
    }

    &-item {
      margin-right: 3.75rem;

      font-family: Yeseva One;
      font-style: normal;
      font-weight: normal;
      font-size: 0.875rem;
      line-height: 1.19rem;
      text-transform: uppercase;

      color: rgba(255, 255, 255, 0.3);

      &.active {
        color: $yellow;
      }

      &.active::after {
        content: "";
        display: block;
        height: 2px;
        width: 100%;

        background-color: $yellow;

        // transform: translate(160px, -20px); 
      }
    }

    &-slides {
      display: flex;
      justify-content: flex-start;
    }
    
    &-image {
      &--admiral {
        margin-right: 1rem;
      }
    }

    &-slide2 {
      position: relative;
    }

    &-button {
      width: 3.8vw;
      height: 3.8vw;
      max-width: 55px;
      max-height: 55px;

      border-radius: 50%;
      border: none;

      background-color: $yellow;
      background-image: url("../images/arrow.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(80%, 370%);
    }

    &-dots {
      // width: 30%;
      margin: 0 auto;
      margin-top: 3rem;
    
      padding-left: 4rem;
      display: flex;
      justify-content: flex-start;

      background-image: url("../images/arrow-long-left.svg"), url("../images/arrow-long.svg");
      background-repeat: no-repeat, no-repeat;
      background-position: 1% 0, 45% 0;
    }

    &-dot {
      cursor: pointer;
      height: 10px;
      width: 10px;
      margin: 0 10px;

      background-color: rgba(255, 255, 255, 0.3);;
      border-radius: 50%;
      display: inline-block;
      
      &.dot-active {
        height: 10px;
        width: 10px;
        background-color: #FFFFFF;
      }
    }
  }
}

/* Control */
.control {
  width: 100%;

  background: linear-gradient(to bottom, #131313 0%, #131313 26vw, #fff 26vw, #fff 100%);
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  &-title {
    margin-bottom: 3rem;
    padding-bottom: 2.5rem;

    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
    background-image: url("../images/camera.svg");
    background-repeat: no-repeat;
    background-position: 35px 40px;
  }

  &__wrapper-video {
    margin-bottom:  6.16rem;

    position: relative;
    &::after {
      content: "";
      display: block;
      width: 3.9vw;
      height: 2px;
      max-width: 55px;

      position: absolute;
      text-align: center;
      background-color: $yellow;
      transform: translate(375px, 60px);
    }
  }

  &-video {
    
    width: 56vw;
    height: 30vw;
    max-width: 817px;
    max-height: 434px;
    
    object-fit: inherit;

    
  }

  &-text {
    margin-bottom: 5.8rem;
    width: 50%;

    font-family: FuturaBookC;
    font-size: 20px;
    line-height: 34px;
    text-align: center;

    color: #363636;
  }

  &-form {
    margin-bottom: 9.25rem;
    
    
    &__wrapper {
      margin-bottom: 2.44rem;
      display: flex;
      justify-content: center;
    }
    &--block {
      display: inline-block;
      margin-right: 3.125rem;
      
      & label {
        display: block;

        font-family: FuturaBookC;
        font-size: 15px;
        line-height: 20px;

        color: rgba(54, 54, 54, 0.5);

        & input {
          display: block;
          max-width: 231px;
          max-height: 25px;
          width: 16vw;
          height: 1.75vw;

          font-family: FuturaBookC;
          font-size: 1.125rem;
          line-height: 1.5rem;

          color: #363636;
          border: none;
          border-bottom: 1px solid rgba(54, 54, 54, 0.3);

        }
      }
    }

    &--submit {
      // margin-top: 1.1rem;
      max-width: 200px;
      max-height: 51px;
      width: 13.9vw;
      height: 3.5vw;

      font-family: FuturaDemiC;
      font-size: 0.94rem;
      line-height: 1.625rem;
      
      text-align: center;
      text-transform: uppercase;

      color: #FFFFFF;
      background-color: $yellow;
      border: none;
      cursor: pointer;

    }

    &__group {
      text-align: center;
     
      
    }
  }
}

/* Checkbox */
.control__group-label {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;

  font-family: FuturaBookC;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #181818;
  
}
.control__group-label input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__group-indicator {
  position: absolute;
  top: 2px;
  left: 32%;
  height: 20px;
  width: 20px;
  background: #e3b873;
  border: 0px solid #000000;
}


.control__group-label:hover input ~ .control__group-indicator,
.control__group-label input:focus ~ .control__group-indicator {
  background: #e3b873;
}


.control__group-label input:checked ~ .control__group-indicator {
  background: #e3b873;
}
.control__group-label:hover input:not([disabled]):checked ~ .control__group-indicator,
.control__group-label input:checked:focus ~ .control__group-indicator {
  background: #e3b873;
}
.control__group-label input:disabled ~ .control__group-indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__group-indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}
.control__group-label input:checked ~ .control__group-indicator:after {
  display: block;
}
.control__group-checkbox .control__group-indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control__group-checkbox input:disabled ~ .control__group-indicator:after {
  border-color: #7b7b7b;
}

/* Cards */

.cards {
  background-color: #ffffff;
  &-title {
    margin: 0;
    margin-bottom: 2rem;
    padding-bottom: 40px;

    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
    text-transform: uppercase;

    color: #181818;
    background-image: url("../images/hammer.svg");
    background-repeat: no-repeat;
    background-position: 50% 100%;
  }

  &__inner {
    margin: 0 auto;
    width: 85%;
    display: flex; 
    justify-content: center;
    align-items: center;
    
  }
}

.card {
  height: 680px;
  margin-right: 2rem;

  &__item {
    max-width: 330px;
    max-height: 286px;
    width: 23vw;
    height: 20vw;

    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    
    transform: translate(10%, 100%);
  }

  &-title {
    padding-top: 1.56rem;
    margin-left: 1.5rem;

    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.56rem;

    color: #363636;
  }

  &-image {
    max-width: 392px;
    max-height: 421px;
    width: 27vw;
    height: 29vw;

    position: relative;
    &.redecorating {
      background: url("../images/redecorating.png") no-repeat;
      background-size: contain;
    }

    &.overhaul {
      background: url("../images/overhaul.png") no-repeat;
      background-size: contain;
    }

    &.designer-repair {
      background: url("../images/designer-repair.png") no-repeat;
      background-size: contain;
    }
  }

  

  &__list-item {
    font-family: FuturaBookC;
    font-size: 0.94rem;
    line-height: 1.56rem;

    color: #959595;
  }

  &-button {
    max-width: 228px;
    max-height: 54px;
    width: 16vw;
    height: 3.75vw;
    
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;

    color: #FFFFFF;
    background-color: $yellow;
    border: none;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  }
}

/* Measurement */

.measurement {
  background-color: #FFFFFF;
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__background {
    max-height: 700px;
    height: 700px;
    
    background: url("../images/house.png") no-repeat;
    position: relative;
  }
  &__advantages {
    max-width: 656px;
    max-height: 636px;
    width: 656px;
    height: 636px;

    border: 3px solid $yellow;
    border-left: 0;
    // border-top: 0;
    // border-bottom: 0;
    border-radius: 50%;
    transform: translate(-27%, 8%);

    &-item {
      display: flex;
      justify-content: flex-start;

      &.one {
        transform: translate(80%, 50px);
        
      }

      &.two {
        transform: translate(91%, 85px);
      }

      &.three {
        transform: translate(95%, 175px);
      }

      &.four {
        transform: translate(86%, 275px);
      }
      
    }

    &-text {
      
      margin-top: 20px;
      display: inline-block;

      font-family: FuturaMediumC;
      font-size: 1.125rem;
      line-height: 1.31rem;

      color: #363636;

      &.one {
        max-width: 370px;
        width: 25.5vw;
        margin-top: 15px;
        
      }

      &.four {
        max-width: 225px;
        width: 15.6vw;
        margin-top: 15px;
      }
    }

    &-number {
      padding: 12px;
      margin-right: 10px;
     
      display: inline-block;


      font-family: Yeseva One;
      font-style: normal;
      font-weight: normal;
      font-size: 1.125rem;
      line-height: 1.56rem;
      text-align: center;

      color: #FFFFFF;
      background: #E3B873;
      box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
      border-radius: 50%;
      border: 8px solid #FFFFFF;

      &.one {
        padding-left: 13px;
        padding-right: 13px;
      }
    }
  }

  &-form {
    background: $dark;
    margin-top: 100px;
    margin-bottom: 38px;
    margin-right: 99px;
    padding-left: 49px;
    padding-right: 49px;

    &--title {
      padding-top: 28px;
      margin-bottom: 39px;
      margin-left: 60px;
      max-width: 290px;
      width: 20.6vw;

      font-family: FuturaDemiC;
      font-size: 20px;
      line-height: 25px;
      text-align: center;

      color: #FFFFFF;

    }

    &__wrapper {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;      
    }

    &--submit {
      margin-top: 39px;
      margin-bottom: 27px;
      margin-left: 195px;
      max-width: 213px;
      max-height: 51px;
      width: 14.8vw;
      height: 3.5vw;

      font-family: FuturaDemiC;
      font-size: 0.94rem;
      line-height: 1.625rem;
      
      text-align: center;
      text-transform: uppercase;

      color: #FFFFFF;
      background-color: $yellow;
      border: none;
      cursor: pointer;

    }

    &--block {
      & label {
        display: block;

        font-family: FuturaBookC;
        font-size: 15px;
        line-height: 20px;

        color: rgba(255, 255, 255, 0.5);

        & input {
          margin-bottom: 48px;
          display: block;
          max-width: 408px;
          max-height: 25px;
          width: 28.3vw;
          height: 1.75vw;

          font-family: FuturaBookC;
          font-size: 1.125rem;
          line-height: 1.5rem;

          color: #FFFFFF;
          border: none;
          border-bottom: 1px solid rgba(255, 255, 255, 0.15);
          background-color: $dark;

        }
      }
    }

  }
}

/* Checkbox */
.measurement__group-label {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;

  font-family: FuturaBookC;
  font-size: 16px;
  line-height: 22px;
  
  color: #FFFFFF;
  
}
.measurement__group-label input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.measurement__group-indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e3b873;
  border: 0px solid #000000;
}


.measurement__group-label:hover input ~ .measurement__group-indicator,
.measurement__group-label input:focus ~ .measurement__group-indicator {
  background: #e3b873;
}


.measurement__group-label input:checked ~ .measurement__group-indicator {
  background: #e3b873;
}
.measurement__group-label:hover input:not([disabled]):checked ~ .measurement__group-indicator,
.measurement__group-label input:checked:focus ~ .measurement__group-indicator {
  background: #e3b873;
}
.measurement__group-label input:disabled ~ .measurement__group-indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.measurement__group-indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}
.measurement__group-label input:checked ~ .measurement__group-indicator:after {
  display: block;
}
.measurement__group-checkbox .measurement__group-indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.measurement__group-checkbox input:disabled ~ .measurement__group-indicator:after {
  border-color: #7b7b7b;
}

.save__wrapper {
  display: flex;
  justify-content: flex-start;
}

.save-image {
  
  max-width: 72px;
  max-height: 72px;
  width: 72px;
  height: 72px;

  background-color: $yellow;
  border-radius: 50%;
  background-image: url("../images/piggy.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.save-text {
  display: inline-block;
  margin-left: 20px;
  margin-top: 15px;

  font-family: FuturaDemiC;
  font-size: 20px;
  line-height: 25px;

  color: #E3B873;

  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}